<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let student">{{student.id}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="studentId">
      <th mat-header-cell *matHeaderCellDef>Student Id</th>
      <td mat-cell *matCellDef="let student">{{student.studentId}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let student">{{student.name}}</td>
      <td mat-footer-cell *matFooterCellDef>Total</td>
    </ng-container>
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Surname</th>
      <td mat-cell *matCellDef="let student">{{student.surname}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="center-text">Image</th>
      <td mat-cell *matCellDef="let student" class="center-text"> <img [src]="student.image" [title]="student.name"
          class="img-fluid"> </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="penAmount">
      <th mat-header-cell *matHeaderCellDef class="center-text">Pen</th>
      <td mat-cell *matCellDef="let student">
        <div class="center"> <button mat-raised-button class="center-button" (click)="downQuantity(student)">-</button>
          <mat-form-field class="penInput"> <input matInput class="center-text penInput" [(value)]="student.penAmount">
          </mat-form-field><button mat-raised-button layout="row" class="center-button"
            (click)="upQuantity(student)">+</button>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="gpa">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>GPA</th>
      <td mat-cell *matCellDef="let student">{{student.gpa}}</td>
      <td mat-footer-cell *matFooterCellDef>{{averageGpa() | number:'1.2-2'}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
  <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50, 100, 250]"> </mat-paginator>
</div>
